@using StupidTodo.Domain
@page "/"
@inject HttpClient Http

@if (Todos != null)
{
    <div class="row">
        <h1>Stupid Todo Blazor</h1>
    </div>

    <div class="row">
        <div class="col-9 col-md-6 alert alert-secondary" role="alert">
            <button onclick="@(async () => await CreateTodoAsync())" class="btn btn-sm btn-success"><i class="fa fa-plus"></i></button>
            &nbsp;&nbsp;&nbsp;
            <input type="text" bind="@NewTodoDescription" />
        </div>
        <div class="col-3">
            <button onclick="@(async () => await GetDoneAsync())" class="btn btn-sm btn-secondary">@ShowDoneText</button>
        </div>
    </div>
    <hr />
    @foreach (var todo in Todos.Where(t => !t.Done))
    {
        <div class="row">
            <div class="col-12 alert alert-primary" role="alert">
                @if (todo.IsEditing)
                {
                    <button onclick="@(() => CancelEdit(todo))" class="btn btn-sm btn-secondary"><i class="fa fa-undo"></i></button>
                    <button onclick="@(async () => await SaveTodoAsync(todo))" class="btn btn-sm btn-success"><i class="fa fa-floppy-o"></i></button>
                    @:&nbsp;&nbsp;&nbsp;
                    <input type="text" bind="@todo.DescriptionEdit" />
                }
                else
                {
                    <button onclick="@(async () => await ToggleDoneAsync(todo))" class="btn btn-sm btn-primary"><i class="fa fa-check"></i></button>
                    @:&nbsp;&nbsp;&nbsp;
                    <a onclick="@(() => EditTodo(todo))" href="javascript:void(0)">@todo.Description</a>
                }
            </div>
        </div>
    }
    @if (ShowingDone)
    {
        <hr />
        @foreach (var todo in Todos.Where(t => t.Done))
        {
            <div class="row">
                <div class="col-12 alert alert-secondary" role="alert">
                    <button onclick="@(async () => await ToggleDoneAsync(todo))" class="btn btn-sm btn-secondary"><i class="fa fa-check"></i></button>
                    &nbsp;&nbsp;&nbsp;
                    @todo.Description
                    <button onclick="@(async () => await DeleteTodoAsync(todo))" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times"></i></button>
                </div>
            </div>
        }
    }
}

@functions {
private string NewTodoDescription;
private string ShowDoneText;
private bool ShowingDone;
private StatefulTodo[] Todos;

private void CancelEdit(StatefulTodo todo)
{
    todo.DescriptionEdit = todo.Description;
    todo.IsEditing = false;
}

private async Task CreateTodoAsync()
{
    if (String.IsNullOrWhiteSpace(NewTodoDescription)) { return; }

    var todo = await Http.PostJsonAsync<Todo>("api/todo", new Todo(NewTodoDescription));
    if (todo != null) { Todos = Todos.Concat(new StatefulTodo[] { new StatefulTodo(todo) }).ToArray(); }
    NewTodoDescription = String.Empty;
}

private async Task DeleteTodoAsync(StatefulTodo todo)
{
    var result = await Http.DeleteAsync($"api/todo/{todo.Id}");
    if (result != null && result.IsSuccessStatusCode)
    {
        Todos = Todos.Where(t => t.Id != todo.Id).ToArray();
    }
}

private void EditTodo(StatefulTodo todo)
{
    todo.IsEditing = true;
}

private async Task GetDoneAsync()
{
    ShowingDone = !ShowingDone;
    if (!ShowingDone)
    {
        ShowDoneText = "Show done";
        Todos = Todos.Where(t => !t.Done).ToArray();
    }
    else
    {
        ShowDoneText = "Hide done";
        var dones = await Http.GetJsonAsync<Todo[]>("api/todo/done");
        dones = dones ?? new Todo[0];
        Todos = Todos.Where(t => !t.Done)
                        .Concat(dones)
                        .Select(t => new StatefulTodo(t))
                        .ToArray();
    }
}

protected override async Task OnInitAsync()
{
    NewTodoDescription = String.Empty;
    ShowDoneText = "Show done";
    ShowingDone = false;
    var todos = await Http.GetJsonAsync<Todo[]>("api/todo") ?? new Todo[0];
    Todos = todos.Select(t => new StatefulTodo(t)).ToArray();
}

private async Task<bool> SaveTodoAsync(StatefulTodo todo)
{
    if (String.IsNullOrWhiteSpace(todo.DescriptionEdit)) { return false; }

    string description = todo.Description;
    todo.Description = todo.DescriptionEdit;
    var resultTodo = await Http.PutJsonAsync<Todo>($"api/todo/{todo.Id}", todo);
    if (resultTodo != null)
    {
        todo.Description = resultTodo.Description;
        todo.DescriptionEdit = resultTodo.Description;
        todo.Done = resultTodo.Done;
        todo.IsEditing = false;
        return true;
    }
    else
    {
        todo.Description = description;
        todo.DescriptionEdit = description;
        todo.IsEditing = false;
        return false;
    }
}

private async Task ToggleDoneAsync(StatefulTodo todo)
{
    todo.Done = !todo.Done;
    var result = await SaveTodoAsync(todo);
    if (!result) { todo.Done = !todo.Done; }
}
}
